rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default deny all access
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow public read for menu items
    match /menuItems/{menuItem} {
      allow read: if true;
      allow write: if false; // Writes handled by server-side logic
    }
    
    // Allow read for credentials by server-side logic only
    match /credentials/{role} {
        allow read, write: if false; // Server-side bypasses this
    }

    // Allow read for counters by server-side logic only
    match /counters/{counter} {
        allow read, write: if false; // Server-side bypasses this
    }

    // Allow authenticated users to read and create/update/delete their own data
    match /orders/{orderId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null; // All writes are server-side
    }

    match /miscExpenses/{expenseId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null; // All writes are server-side
    }

    match /reconciliationReports/{reportId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null; // All writes are server-side
    }
  }
}
